html {
	font-size: 62.5%!important;
    overflow-y: scroll;
}
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.height-header {
    height:60px;
    height:5rem;
    line-height:60px;
    line-height:5rem
}
.line-height-nav {
    height: 30px;
    height: 3rem;
    line-height: 30px;
    line-height: 3rem
}
.bg-img-file-left-bottom {
    background-color: #147ec3;
    background-image:-moz-linear-gradient(to bottom,#1888cf, #0e74bf);
    background-image:-webkit-linear-gradient(to bottom,#1888cf, #0e74bf);
    background-image:-o-linear-gradient(to bottom,#1888cf, #0e74bf);
    background-image:-ms-linear-gradient(to bottom,#1888cf, #0e74bf);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#1888cf', endColorstr = '#0e74bf'); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1888cf', endColorstr='#0e74bf')";
    background-image: linear-gradient(to bottom, #1888cf,#0e74bf)
} 

a {
	text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
 
.login-bg {
    width:100%;
    height:100%;
    background: url(../img/bg_pri_login_f100c70.jpg) no-repeat center;
    background-size: cover;
}

.login-admin-bg {
    width: 100 % ;
    height: 100 % ;
    background: url(../img/bg_pri_login_f100c70.jpg) no-repeat center;
    background-size: cover
}

body, button, input, select, textarea {
    font-family: Arial, 'Microsoft YaHei', 微软雅黑, 微软雅黑, SimHei, 宋体, 宋体, 黑体, 黑体, 'Heiti SC', 'Hiragino Sans', sans-serif, tahoma, Helvetica;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
} 
.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 300px
}

#mainContent {
	position: absolute;
    top: 45%;
    left: 55%;
    margin-top: -173px;
    margin-left: -240px;
    padding: 38px 60px;
    width: 480px;
    min-height: 346px;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

#content .logo {
	margin-bottom: 32px;
	display: inline-block;
	color: #7E7E7E;
	font-size:30px;
	background: url(../img/logo.png) center no-repeat;
	width:207px;
	height:38px;
	background-size:cover;
}
#content .logo a{
	display:block;
	width:100%;
	height:100%;
	text-decoration: none;
}

#content form {
    display: block;
    margin-top: 0em;
}

#content .login-form { 
	text-align: center;
}

#content .login-form .field-box {
	display: inline - block;
	position: relative;
	width: 360px;
	font-size: 12px!important;
	line-height: 36px;
	border: 1px solid #d8d8d8
}
#content .login-form .field-box .field-title {
	display: inline - block;
	border: 0;
	width: 100px;
	text-align: center;
	color: #999;
}

#content .login-form  .field-box:hover{
	border-color:# 54c17b
}

#content .login-form .form-input span {
	display: inline-block;
    float: left;
    width: 65px;
    height: 34px;
    color: #999;
    font-size: 13px;
    line-height: 34px;
 }	
	
#content .login-form .form-input{
	position:relative;
	width:100%;
	height:34px;
	border:1px solid #ccc;
}


#content .login-form .form-input input {
	float:right;
	padding:0 10px;
	width:290px;
	height:32px;
	font-size:14px;
	line-height:32px;
	border:0;
	border-left:1px solid #eee;
	outline: 0;
}


    


#content .login-form .form-error-tips {
	position:relative;
    height:30px;
    line-height:30px;
    text-align:right;
}


#content .form-input .form-error-tips .password-error-area {
	height:44px;
	line-height:44px
} 

#content .login-form .form-error-tips span {
	color: #f36;
    font-size: 12px!important;
}


#content .login-form .login-btn {
    display: inline-block;
    width: 100%;
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 10px;
    background-color: #54c17b;
    cursor: pointer;
}

#content .login-form .extra-info .forget-pass {
    display: inline-block;
    float: right;
    margin-top: 16px;
    color: #999;
    font-size: 13px;
    cursor: pointer;
}

#content .login-form .extra-info .regist-info {
	display: inline-block;
    float: left;
    margin-top: 16px;
    color: #999;
    font-size: 13px;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.bg-img-file-left-bottom {
	background-color:#147ec3;
	background-image:-moz-linear-gradient(to bottom,#1888cf,#0e74bf);
	background-image:-webkit-linear-gradient(to bottom,#1888cf,#0e74bf);
	background-image:-o-linear-gradient(to bottom,#1888cf,#0e74bf);
	background-image:-ms-linear-gradient(to bottom,#1888cf,#0e74bf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1888cf',endColorstr = '#0e74bf');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1888cf', endColorstr='#0e74bf')";
    background-image: linear-gradient(to bottom, #1888cf,#0e74bf);
}

.welcomePage {
    width: 100 % ;
	height: 100 % ;
	background-color: #54c17b;
	text-align:center;
	position:absolute;
	top:0;
	right:0
}
.welcomePage table {
	width:100%;
	height:100%;
}

.welcomePage .progressWrap {
	width:330px;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle
}

.welcomePage .progressWrap .progressBar {
	margin-top:30px;
	background-color:#48ad6e;
	height: 3px;
}
.welcomePage .progressWrap .progressBar .progressBarRate {
	width:99% ;
	height:3px;
	background-color: #fffa70;
	animation: progressBarRateKey 5s; 
	-moz-animation: progressBarRateKey 5s;
	-webkit-animation: progressBarRateKey 5s;
	-o-animation: progressBarRateKey 5s;
}

@keyframes progressBarRateKey {from {width:1%} to {width:99%;}}
@-moz-keyframes progressBarRateKey {
	from {
		width: 1%
	}
	to {
		width: 99%
	}
}
@-webkit-keyframes progressBarRateKey {
	from {
		width: 1%
	}
	to {
		width: 99%
	}
}
@-o-keyframes progressBarRateKey {
	from {
		width: 1%
	}
	to {
		width: 99%
	}
}





